:root {
  --color-white: #ffffff;
  --color-whitesmoke: #f5f5f5;
  --color-black: #101010;
  --color-red: #F2003C;
}

@font-face {
  font-family: "inter";
  src: url("./assets/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "poppins";
  src: url("./assets/Poppins/Poppins-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "inter";
}
body {
  font-family: "poppins";
  background-color: var(--color-white);
}

/* util */

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 16px;
}

.section__padding {
  margin: 1rem;
  padding: 36px;
}

/* global */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */

.header {
  box-shadow:
    0px 1px 1px rgba(3, 7, 18, 0.01),
    0px 5px 4px rgba(3, 7, 18, 0.02),
    0px 12px 9px rgba(3, 7, 18, 0.02),
    0px 20px 15px rgba(3, 7, 18, 0.03),
    0px 32px 24px rgba(3, 7, 18, 0.04);
}
.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo .logo {
  color: var(--color-red);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 12px;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav__links li a {
  color: var(--color-black);
}

.nav__right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn {
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-red);
  color: var(--color-white);
}

.hamburger {
  display: none;
}

/* hero */

.hero {
  border-radius: 16px;
  height: 90vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/img1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__heading,
.hero__subheading {
  text-align: center;
}

.hero__heading {
  font-size: 2.4rem;
  color: var(--color-white);
  margin-bottom: 8px;
}

.hero__subheading {
  font-size: 1.4rem;
  margin-bottom: 12px;
  color: var(--color-whitesmoke);
  max-width: 70%;
  line-height: 1.4;
}

.hero__cta {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* section */

section {
  background-color: var(--color-whitesmoke);
  border-radius: 12px;
  text-align: center;
}

.section__heading {
  font-size: 2.4rem;
  color: var(--color-black);
}

.section__subheading {
  font-size: 1.1rem;
}

/* about section */

.about .section__heading {
  margin-bottom: 12px;
}

/* features */

.features__grid {
  margin-top: 16px;
  display: grid;
  gap: 12px;
  height: 300px;
  grid-template-areas:
    "feature1 feature1 feature2"
    "feature3 feature4 feature4";
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.feature__one {
  grid-area: feature1;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/feature4.webp);
  background-position: 10% 35%;
  background-repeat: no-repeat;
  background-size: cover;
}
.feature__two {
  grid-area: feature2;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/feature2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feature__three {
  grid-area: feature3;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/feature1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature__four {
  grid-area: feature4;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/feature3.webp);
  background-position: 10% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature__title {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: bold;
}

.feature__info {
  font-size: 0.8rem;
  color: var(--color-whitesmoke);
}


/* services */

.services__cards {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}

.card {
  padding: 12px;
  border-radius: 12px;
  /* background-color: #e6e5e5; */
  border: 1px solid #e8e8e8;
  text-align: center;
}

.card__img {
  margin-bottom: 8px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 12px;
}

.card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__title {
  font-size: 1.4rem;
}

/* testimonial */

.testimonial__container {
  display: flex;
   justify-content: center;
  margin-top: 16px;
  gap: 24px;
  flex-wrap: wrap;
}

.testimonial__card {
  flex: 1;
  border: 1px solid #d7d5d5;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.review {
  margin: 1rem 0;
}

.reviewer__name {
  margin-top: auto;
}


/* pricing */

.pricing__container {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.pricing__card {
  border: 1px solid #b3b3b3;
  border-radius: 16px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;

}

.pricing__card .title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.pricing__features {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: 1.4rem;
  gap: 12px;
}

.pricing__card .price {
  margin-top: auto;
  font-size: 1.4rem;
}

.pricing__cta {
  margin-top: 32px;
  border: 1px solid #b0b0b0;
 
  padding: 16px;
  border-radius: 16px;
}

.pricing__cta .section__heading {
  font-size: 2.4rem;
  margin-bottom: 12px;

}

/* contact */

.details {
  margin: 16px 0;
  border: 1px solid #c1c1c1;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
}

.details .highlight {
  color: var(--color-black);
  font-weight: bold;
}

.contact__cta{
  text-align: center;
}

.contact__cta span {
  padding: 12px;
}



/* footer */

footer {
  background-color: var(--color-black);
  color: var(--color-whitesmoke);
  border-radius: 16px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}


.footer__logo {
  font-size: 3rem;
  color: var(--color-red);
}
.footer__right {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}


footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer__bottom {
  margin-top: 32px;
  border-top: 1px solid var(--color-whitesmoke);
  padding-top: 12px;
  text-align: center;
}















/* media queries */

@media (max-width: 768px) {


  .nav__right {
    display: none;
  }

  .nav__right {
 background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  position: fixed;
  top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    transform: translateX(100%); 
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
}
.navbar.active .nav__right {
    transform: translateX(0);
  }

 .nav__links {
    flex-direction: column;
    gap: 32px;
  }

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1001;
  user-select: none;
}

.navbar {
  justify-content: space-between;
}

.hamburger span {
  font-size: 30px;
}
  
}

