:root {
  --color-white: #ffffff;
  --color-whitesmoke: #f5f5f5;
  --color-black: #101010;
  --color-red: #ff6546;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
}

/* util */

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 16px;
}

.section__padding {
  margin: 1rem;
  padding: 36px;
}

/* global */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */

.header {
  box-shadow:
    0px 1px 1px rgba(3, 7, 18, 0.01),
    0px 5px 4px rgba(3, 7, 18, 0.02),
    0px 12px 9px rgba(3, 7, 18, 0.02),
    0px 20px 15px rgba(3, 7, 18, 0.03),
    0px 32px 24px rgba(3, 7, 18, 0.04);
}
.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo .logo {
  color: var(--color-red);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 12px;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav__links li a {
  color: var(--color-black);
}

.nav__right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn {
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-red);
  color: var(--color-white);
}

/* hero */

.hero {
  border-radius: 16px;
  height: 90vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/img1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__heading,
.hero__subheading {
  text-align: center;
}

.hero__heading {
  font-size: 2.4rem;
  color: var(--color-white);
  margin-bottom: 8px;
}

.hero__subheading {
  font-size: 1.4rem;
  margin-bottom: 12px;
  color: var(--color-whitesmoke);
  max-width: 70%;
  line-height: 1.4;
}

.hero__cta {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* section */

section {
  background-color: var(--color-whitesmoke);
  border-radius: 12px;
  text-align: center;
}

.section__heading {
  font-size: 2rem;
  color: var(--color-black);
}

.section__subheading {
  font-size: 1.1rem;
}

/* about section */

.about .section__heading {
  margin-bottom: 12px;
}

/* features */

.features__grid {
  margin-top: 16px;
  display: grid;
  gap: 12px;
  height: 500px;
  grid-template-areas:
    "feature1 feature1 feature2"
    "feature3 feature4 feature4";
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.feature__one {
  grid-area: feature1;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/feature4.webp);
  background-position: 10% 35%;
  background-repeat: no-repeat;
  background-size: cover;
}
.feature__two {
  grid-area: feature2;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/feature2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feature__three {
  grid-area: feature3;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/feature1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature__four {
  grid-area: feature4;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/feature3.webp);
  background-position: 10% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature__title {
  color: var(--color-white);
}

.feature__info {
  color: var(--color-whitesmoke);
}
